*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.container{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.input{
    border: none;
    outline: none;
    background-color: transparent;

}
.form{
    display: inline-block;
    margin-top: 50%;
    background-color: rgba(30, 255, 0, 0.897);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.but{
    background-color: transparent;
    border: none;
    padding: 10px;
    outline: none;
}
.ul{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}
.but:hover{
    background-color: rgb(9, 255, 0);
    border: 1px solid red;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.form:hover{
    border: 1px solid rgb(4, 0, 255);
}
.h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    color: blueviolet;
}
.but:active{
    background-color: blue;
}
